<div id="wrapper">
            <div id="headerwrap">
                <div id="header">
                  <span><%= image_tag("notepad_banner.jpg") %>
                                      <%= image_tag "logo.jpg", :width => 500, :height => 121 %></span>
                </div>
            </div>

            <div id="leftcolumnwrap">
              <div id="leftcolumn">
                    <div id='cssmenu'>
                      <ul>

                        <li><p> <%= link_to 'Ver', @recetum %></p></li>
                         <li><p><%= link_to 'Atras<<', receta_path %></p></li>
                      </ul>
                    </div>
              </div>
             </div>

            <div id="contentwrap">
                <div id="content">
                  <h1><p>Editar receta</p></h1>
                </div>
                <div id="content">
                  <%= render 'form' %>
                </div>

            </div>

            <div id="footerwrap">
                  <div id="footer">
                    <%= image_tag "footer_banner.png", :width => 1000, :height => 40 %>
                  </div>
            </div>
</div>
