<div id="wrapper">
        <div id="headerwrap">
                <div id="header">
                  <span><%= image_tag("notepad_banner.jpg") %>
                                      <%= image_tag "logo.jpg", :width => 500, :height => 121 %></span>
                </div>
        </div>

        <div id="leftcolumnwrap">
             <div id="leftcolumn">
                <div id='cssmenu'>
                           <ul>
                              <li> <span> <% if logged_in? %>
                                    <p><%= link_to 'Nueva receta',  new_recetum_path %></p>
                                      <% else %>
                                          <p>Debes estar registrado para añadir recetas</p>
                                      <% end %></span></li>
                              <li> <p> <%= link_to "Principal<<", root_path %></p></li>
                           </ul>
                  </div>
             </div>
        </div>

                <div id="contentwrap">
                  <div id="content">
                    <h1><p>Lista de recetas</p></h1>


                  </div>

                  <div id="content">

                            <table>
                              <tr>
                                <th><p>Autor</p></th>
                                <th><p>Nombre</p></th>
                                <th><p>Ingredientes</p></th>
                                <th><p>Preparacion</p></th>
                                <th><p>Inventor</p></th>
                                <th><p>User</p></th>
                                <th></th>
                                <th></th>
                                <th></th>

                              </tr>



                              <% @receta.each do |recetum| %>

                                  <tr>

                                    <td><p><%= recetum.autor %></p></td>
                                    <td><p><%= recetum.nombre %></p></td>
                                    <td><p><%= recetum.ingredientes %></p></td>
                                    <td><p><%= recetum.preparacion %></p></td>
                                    <td><p><%= recetum.inventor %></p></td>
                                    <td><p><%= recetum.user_id %></p></td>

                                    <td><%= link_to image_tag("eye.png"), recetum %></td>

                                    <% if logged_in? %>
                                    <% if current_user.id == recetum.user_id %>
                                    <td><p><%= link_to  image_tag("application_edit.png"), edit_recetum_path(recetum) %></p></td>
                                    <td><p><%= link_to  image_tag("delete.png"), recetum, method: :delete, data: { confirm: 'Seguro que desea borrar la receta?' } %></p></td>
                                    <% end %>
                                        <% end %>

                                  </tr>

                             <% end %>

                            </table>
                  </div>
                </div>
				
				
				  <div id="footerwrap">
                  <div id="footer">
                    <%= image_tag "footer_banner.png", :width => 1000, :height => 40 %>
                  </div>
            </div>

</div>



